<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Portswigger Boot Camp :: Secure Page</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="header-container">
      <header>
        <h1>Welcome to the secure area!</h1>
      </header>
      <nav>
        <form action="/logout" method="POST">
          <input type="submit" value="Logout">
        </form>
      </nav>
    </div>
    <main>
      <div class="page-container">
        This is where the main content should go, yada yada yada...
        <div class="page-content">
          <img th:src="@{'/loadImage?imagePath=images/super_secure.jpg'}" alt="You can't get past me!">
        </div>
      </div>

      <button>
        <a href="/xssattack?name=Crab">
          Explore our XSS attack page.
        </a>
      </button>
    </main>
  </body>
</html>