body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  margin: 0;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}
.login-form-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}
.login-form-container input[type="text"],
.login-form-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.login-form-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.login-form-container input[type="submit"]:hover {
  background-color: #0056b3;
}
.login-form-container .signup-link {
  text-align: center;
  margin-top: 10px;
}
.login-form-container .signup-link a {
  color: #007BFF;
  text-decoration: none;
}
.login-form-container .signup-link a:hover {
  text-decoration: underline;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f4f4f4;
}
main {
  height: 100vh;
  margin: 20px;
}
.page-container {
  background-color: #fff;
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
  height: 100vh;
}